<h1>User Management</h1>
    <button id="showUsersBtn" class="btn btn-primary">Show Users</button>
    <button id="clearInactiveBtn" class="btn btn-danger">Clear Inactive Users</button>
    <div id="clearLoading" style="color: red; font-weight: bold;"></div>
    <hr>

    <div class="userListContainer" id="userList"></div>



<script src="/js/adminControlScripts.js"></script>